#title {
  background-color: #ff4c68;
}
#features {
  padding: 3% 10%;
  text-align: center;
  position: relative;
}
.feature_box {
  text-align: center;
  padding: 4.5%;
}
.container-fluid {
  padding: 3% 15%;
}
.iphone {
  padding-top: 4%;
}
button {
  margin-top: 10%;
}
h1 {
  font-family: "Montserrat-Bold";
  color: #fff;
}
h2 {
  font-family: "Montserrat-Bold";
  font-size: 2rem;
  line-height: 1.5;
}
.iphone_image {
  transform: rotate(25deg);
  padding-top: 30px;
  position: relative;
  right: 30%;
}
p {
  color: #8f8f8f;
}
h3 {
  font-family: "Montserrat-Bold";
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
.navbar-brand {
  font-family: "Montserrat-Bold";
  font-size: 30px;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonialimage {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press_logo {
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing {
  padding: 3% 2%;
}
#cta{
  background-color:#ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.cta_head{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 10px 20px;
}
@media(max-width:1028px){
  #title{
    text-align: center;
  }
  .iphone_image{
    position: static;
    transform: rotate(0);
  }
}
